<% if !permission_groups.nil? %>
    <div class="fluid-row">
      <div class="span8">
        <b><%=title %></b>
      </div>
      <div class="span4 text-right">
        <div class="btn-group">
          <a href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle">Permissions<span class="caret"></span></a>
          <ul class="dropdown-menu text-left" id="permissionForm">
            <% permission_groups.each do |p| %>
                <li>
                  <div class="fluid-row">
                    <div class="span2 text-right">
                      <input type="checkbox" name="<%= p %>"/>
                    </div>
                    <div class="span10">
                      <label for="<%= p %>"><%= p %></label>
                    </div>
                  </div>
                </li>
            <% end %>
            <li>
              <div class="fluid-row">
                <div class="span12 text-center">
                  <input type="button" class="btn btn-primary premissionGroupBtn" value="Change" name="<%=title%>"/>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
<% end %>